<a href="https://colab.research.google.com/github/Kim-SeongSu/TIL/blob/main/Baekjoon_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5월6일

In [38]:
#2741 N 찍기
N = int(input())

for i in range(1,N+1):
  print(i)

4
1
2
3
4

5월7일

In [ ]:
# 2742
N = int(input())
list = []

for i in range(1,N+1):
  list.insert(0,i)
for i in range(1,N+1):
  print(list[i-1])

4
4
3
2
1

In [ ]:
# 11021
T = int(input())
list = []

for i in range(1,T+1):
  A,B = map(int,input().split( ))
  list.append(A+B)
for i in range(1,T+1):
  print(f'Case #{i}: {list[i-1]}')

1
1 5
Case #1: 6

In [ ]:
# 11022
T = int(input())
list = []

for i in range(1,T+1):
  A,B = map(int,input().split( ))
  C = A+B
  list.append([A,B,C])
for i in range(1,T+1):
  print(f'Case #{i}: {list[i-1][0]} + {list[i-1][1]} = {list[i-1][2]}')

5
1 1
2 3
3 4
9 8
5 2
Case #1:  1 + 1 = 2
Case #2:  2 + 3 = 5
Case #3:  3 + 4 = 7
Case #4:  9 + 8 = 17
Case #5:  5 + 2 = 7

5월8일

In [3]:
# 2438
N = int(input())

for i in range(1,N+1):
  print('*'*i)

5
*
**
***
****
*****

In [37]:
# 2439
N = int(input())
for i in range(1,N+1):
  print(' '*int(N-i)+'*'*int(i))

5
    *
   **
  ***
 ****
*****